<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Heavenly</title>
  <link rel="stylesheet" href="styles.css"> 
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div id="blob-container"></div>
  <header>
    <div class="nav container">
      <a href="#" class="logo">
        <img src="images/logo.jpg" alt="">
      </a>    
      <i class="bx bx-shopping-bag" id="cart-icon" data-quantity="0"></i>
      <div class="cart">
        <h2 class="cart-title">Your Cart</h2>
        <div class="cart-content">
        </div>
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
        </div>
        <button type="button" class="btn-buy">Pay Now</button>
        <i class="bx bx-x" id="close-cart"></i>
      </div>
    </div>
  </header>
  <section class="image-display">
    <div class="image-container">
      <div class="big-image">
        <div class="image-box">
          <div class="image-label">Celestial</div>
          <img src="images/image16.jpg" alt="">
        </div>
        <div class="image-box">
          <div class="image-label">Tormented</div>
          <img src="images/image15.jpg" alt="">
        </div>
        <div class="image-box">
          <div class="image-label">Contemplative</div>
          <img src="images/image17.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="shop-container">
    <h2 class="section-title"></h2>
    <div class="shop-content">
      <div class="product-box">
        <img
            src="images/image1.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Sport Mesh Football Jersey</h2>
        <span class="price">$120</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image2.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Zip Work Jacket Denim</h2>
        <span class="price">$185</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image3.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy x Born X Raised 8 Ball Tee 'White'</h2>
        <span class="price">$77</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image4.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Varsity Oversized Crew</h2>
        <span class="price">$135</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image5.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Mosaic Dragon Tee Pigment Dyed</h2>
        <span class="price">$45</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image6.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Galaxy Hoodie</h2>
        <span class="price">$130</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image7.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Sherpa Paneled Hooded Jacket</h2>
        <span class="price">$200</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image8.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Built Tough Tee 'White'</h2>
        <span class="price">$156</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image9.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Blur Tee</h2>
        <span class="price">$45</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image10.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Sport Relaxed Oversized Crew</h2>
        <span class="price">$135</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image11.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Boucle Wool Cpo Shirt</h2>
        <span class="price">$165</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image12.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Lucha Tee</h2>
        <span class="price">$45</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image13.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Gradient Dot Brushed Sweater</h2>
        <span class="price">$165</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <div class="product-box">
        <img
            src="images/image14.jpg" 
            alt=""
            class="product-img"
          />
        <h2 class="product-title">Stussy Mohair Club Jacket</h2>
        <span class="price">$260</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
    </div>
  </section>
  <script src="main.js"></script> 
  <script src="cart.js"></script> 
</body>
</html>